.word {
  text-align: center;
  min-height: 100px;
}

.letterbox {
  background-color: #DDDDDD;
  color: white;
  display: inline-block;
  border: 1px solid #BBBBBB;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 10px;
  line-height: 100px;
  font-size: 60px;
  width: 100px;
  height: 100px;
  text-transform: uppercase;
    text-shadow:
   -1px -1px 0 #BBBBBB,  
    1px -1px 0 #BBBBBB,
    -1px 1px 0 #BBBBBB,
     1px 1px 0 #BBBBBB;
  overflow: hidden;
  opacity: 1;
}

.button-spacer {
  margin: 50px;
}

.word-match {
  background-color: lime;
}

.word-miss {
  background-color: red;
}


.used-letter-add.used-letter-add-active,
.used-letter-remove.used-letter-remove-active {
  transition: all linear 0.25s;
}

.used-letter {
  opacity: 0.4;
}

.wordarea.ng-hide-add.ng-hide-add-active,
.wordarea.ng-hide-remove.ng-hide-remove-active {
  transition: all linear 0.25s;
}

.wordarea.ng-hide {
  opacity: 0;
}
